<div class="category-btn-and-color-popup"
           data-controller="category-color"
           data-category-color-category-id-value=<%= category.id %>>
    <form action=<%="/tasks/#{task_id}"%> method="patch">
        <button type="submit" class="category-btn" name=task[category_id] value=<%= category.id %>
                style="color: <%= category.color if category.color.present? %>"
                data-action="mouseover->category-color#showColorPopup mouseout->category-color#hideColorPopup click->task-update#updateCategoryBoxColor"
                data-category-color-target="categoryName">
                <%= category.name %></button>
        <input type="hidden" name="authenticity_token", value="<%= form_authenticity_token %>">
    </form>

    <div class="category-color-popup btn-hidden"
            data-category-color-target="colorSelectorPopup">
        <i class="fa-solid fa-palette category-color-btn"></i>
        <input type="color" name="category[color]" class="category-color-picker"
                data-category-color-target="colorPickerInput"
                data-action="change->category-color#submitColorChange">
    </div>
</div>