<div class="task"
      data-controller="task-update"
      data-task-update-task-id-value=<%= task.id %>
      data-task-update-task-priority-value=<%= task.priority %>
      data-action="mouseover->task-update#showPopups mouseout->task-update#hidePopups">

  <div class="categories-menu hidden"
       data-task-update-target="categoriesPopup"
       data-controller="category-create"
       data-action="click@window->task-update#hideCategoriesPopup"
       data-category-create-task-id-value=<%=task.id%>>

    <% categories.reverse_each do |category| %>
      <%= render partial: "days/category", locals: { category: category, task_id: task.id} %>
    <% end %>

    <form action=<%="/tasks/#{task.id}"%> method="patch">
      <button type="submit" class="category-btn" name=task[category_id] data-action="click->task-update#clearCategory">- clear category</button>
      <input type="hidden" name="authenticity_token", value="<%= form_authenticity_token %>">
    </form>

    <form action="/categories" method="post" data-action="submit->category-create#newCategory">
      <input type="text" placeholder="+ new category" name="category[name]" data-category-create-target="categoryNameInputField">
      <input type="hidden" name="day" value="<%=day.id%>">
      <input type="hidden" name="authenticity_token", value="<%= form_authenticity_token %>">
    </form>

  </div>

  <form action=<%="/tasks/#{task.id}"%> method="patch">
    <div class="category" style="background-color: <%= task.category.color if task.category.present? && task.category.color.present? %>"
         data-action="click->task-update#toggleCategoriesPopup"
         data-task-update-target="categoryBox">
      <%= task.category.name.first unless task.category.nil? %>
    </div>

    <input type="text" name="task[description]" value="<%=task.description%>">

    <button type="submit" name="task[completed]" class="checkmark <%= 'done' if task.completed? %>" value=<%= !task.completed? %>
            data-task-update-target="checkmark"
            data-action="click->task-update#completeTask">
      <% if task.completed? %>
        <i class="fa-solid fa-check"></i>
      <% end %>

    </button>

    <input type="hidden" name="authenticity_token", value="<%= form_authenticity_token %>">
  </form>

  <i class="fa-solid fa-circle-xmark delete-btn btn-hidden"
      data-task-update-target="deleteButton"
      data-action="click->task-update#deleteTask"></i>

  <div class="update-priority-button">

    <i class="fa-solid fa-circle-exclamation btn-hidden"
       data-task-update-target="priorityButton"
       data-action="click->task-update#showPrioritySelector"></i>

    <div class="priority-options hidden"
         data-task-update-target="prioritySelector">
      <span data-action="click->task-update#updatePriority">1</span>
      <span data-action="click->task-update#updatePriority">2</span>
      <span data-action="click->task-update#updatePriority">3</span>
    </div>

  </div>
</div>
