<div class="navbar" data-controller="hotdog-navigation-progress" data-action="click->hotdog-navigation-progress#toggleMenu">

  <div class="inner-navbar">

    <div id="hotdog-menu" data-hotdog-navigation-progress-target="threeBars">
      <div class="bar-top"></div>
      <div class="bar-long"></div>
      <div class="bar-bottom"></div>
    </div>

    <a href="/days/<%= Day.last.id %>" class="p-option-1 hidden" data-hotdog-navigation-progress-target="todayLink">today</a>
    <a class="p-option-2 hidden" data-hotdog-navigation-progress-target="customizeLink">customize</a>


    <div class="progress-circle">
      <div class="progress-circle one" data-hotdog-navigation-progress-target="circle1"></div>
      <div class="progress-circle two" data-hotdog-navigation-progress-target="circle2"></div>
      <div class="progress-circle three" data-hotdog-navigation-progress-target="circle3"></div>
      <div class="progress-circle four" data-hotdog-navigation-progress-target="circle4"></div>
    </div>

    <div class="popup" data-controller="popup">
      <p> Back to today </p>
    </div>

  </div>

  <div class="search-bar">
    <%= form_with url: days_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Search"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>

</div>


<div class="progress-container">
  <div class="days-container">
    <div class="cards">

      <% @days.each do |day| %>
        <% if day.highlight.present? %>
          <div class="progress-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path day.highlight.key, height: 300, crop: :fill %>')">
        <% else %>
          <div class ="progress-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <% end %>

            <div class="progress-content">
              <h2 class="progress-title"> <%= Date.parse(day.created_at.to_s) %></h2>
              <p class="progress-copy"><%= day.name %> </p>
              <%= link_to "View Day", day_path(day), class: "progress-btn" %>
            </div>

          </div>
      <% end %>

    </div>

  </div>
  <h1 id="progress">progress.</h1>
</div>
