<div class="navbar"
     data-controller="hotdog-navigation"
     data-hotdog-navigation-logged-in-value=<%= user_signed_in? %>
     data-login-navigation-logged-in-value=<%= user_signed_in? %>
     data-action="click@window->hotdog-navigation#hideMenu">

    <div id="hotdog-menu"
         data-hotdog-navigation-target="threeBars"
         data-action="click->hotdog-navigation#toggleMenu">
      <div class="bar-top"></div>
      <div class="bar-long"></div>
      <div class="bar-bottom"></div>
    </div>

    <a href="/days/<%= Day.last.id %>" class="option-1 hidden" data-hotdog-navigation-target="option1">today</a>
    <a href="/" class="option-2 hidden" data-hotdog-navigation-target="option2">home</a>


    <div class="bg-circles">
      <div class="one progress" data-hotdog-navigation-target="circle1"></div>
      <div class="two progress" data-hotdog-navigation-target="circle2"></div>
      <div class="three progress" data-hotdog-navigation-target="circle3"></div>
      <div class="four progress" data-hotdog-navigation-target="circle4"></div>
    </div>

  <div class="search-bar">
    <%= form_with url: days_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Search for tasks or dates"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>

</div>


<div class="progress-container">
  <div class="days-container">
    <div class="cards">

      <% @days.each do |day| %>

        <% if day.highlight.present? %>
          <div class="progress-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path day.highlight.key, height: 300, crop: :fill %>')">
        <% else %>
          <div class ="progress-card" style="background-color: #81EBE0;">
        <% end %>

            <div class="progress-content">
              <% display_date = Date.parse(day.created_at.to_s)%>
              <% formatted_date = display_date.strftime('%e %B') %>
             <h2 class="progress-title"> <%= formatted_date %></h2>
              <p class="progress-copy"><%= day.name %> </p>
              <%= link_to "View Day", day_path(day), class: "progress-btn" %>
            </div>

          </div>
      <% end %>
    </div>

  </div>
</div>
  <h1 id="progress">progress.</h1>
</div>
