<%# <h1>Days#index</h1>
<p>Find me in app/views/days/index.html.erb</p> %>
<div class="container">

  <div id="menu" data-controller="hamburger">

    <div id="menu-bar" data-action="click->hamburger#expandMenu" data-hamburger-target="menubar">
      <div id="bar1" class="bar"></div>
      <div id="bar2" class="bar"></div>
      <div id="bar3" class="bar"></div>
    </div>

    <nav class="nav" id="nav" data-hamburger-target="nav">
      <ul>
        <li><a href="#">today</a></li>
        <li><a href="#">week</a></li>
      </ul>
    </nav>

    <nav class="nav" id="nav">
      <ul>
        <li><a href="#">today</a></li>
        <li><a href="#">week</a></li>
      </ul>
    </nav>

    <div class="menu-bg" id="menu-bg" data-hamburger-target="menubg"></div>

  </div>

  <div class="progress-circle one"></div>
  <div class="progress-circle two"></div>
  <div class="progress-circle three"></div>
  <div class="progress-circle four"></div>

  <%# [DROP DOWN MENU - TOP LEFT]
  <div class="drop-down-menu">
    <label for="drop-down-menu"></label>
      <select name="drop-down-menu" id="drop-down-menu">
        <option value="week-view">week view</option>
        <option value="week-view">customize</option>
        <option value="week-view">today</option>
      </select>
  </div> %>

  <div class="search-bar"[SEARCH - TOP RIGHT]>
    <%= form_with url: days_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Search"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>


  <div class="days-container"[CIRCLED HIGHLIGHTS - MIDDLE]>
    <div class="cards">
      <% @days.each do |day| %>
        <%= link_to day_path(day) do %>
          <div class="card-circle" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
            <%= day.highlight %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div>
  <h1 id="progress">progress.</h1>
  </div>

  <%# <div class="container"[4 ARCS - FROM BOTTOM LEFT - (GOES TOP LEFT ON CLICK OF DROP DOWN MENU - JAVASCRIPT)]>
  </div> %>

</div>
