<div class="navbar">
  <div id="menu" data-controller="hamburger">

  <div id="menu-bar" data-action="click->hamburger#expandMenu" data-hamburger-target="menubar">
    <div id="bar1" class="bar"></div>
    <div id="bar2" class="bar"></div>
    <div id="bar3" class="bar"></div>
  </div>

  <nav class="nav" id="nav" data-hamburger-target="nav">
    <ul>
      <li><a href="#">log in</a></li>
      <li><a href="#">sign in</a></li>
    </ul>
  </nav>

  <nav class="nav" id="nav">
    <ul>
      <li><a href="#">log in</a></li>
      <li><a href="#">sign in</a></li>
    </ul>
  </nav>

  <div class="menu-bg" id="menu-bg" data-hamburger-target="menubg"></div>

  </div>
</div>

<div class="circle-today">
  <div class="circle-today one"></div>
  <div class="circle-today two"></div>
  <div class="circle-today three"></div>
  <div class="circle-today four"></div>
</div>

<div class="today-page-container">

  <div class="highlight-and-date-container">
    <div class="highlight"></div>
    <div class="day-name-and-date">
      <h2><%= Date.today() %></h2>
      <h1>today.</h1>
    </div>
  </div>

  <div class="tasks-container">
    <form action=<%="/days/#{@day.id}/tasks"%> method="post" name="task">
      <input type="text" name="task[description]" placeholder="add a new task">
      <input type="hidden" name="authenticity_token", value="<%= form_authenticity_token %>">
    </form>

    <% @day.tasks.each do |task| %>
      <div class="task">
        <form action=<%="/tasks/#{task.id}"%> method="patch">
          <select name="task[category_id]">
            <% if task.category.nil? %>
              <option> </option>
            <% else %>
              <option value="<%= task.category.id %>"><%= task.category.name.first %></option>
            <% end %>
            <% @categories.each do |category| %>
              <option value="<%= category.id %>"><%= category.name.first %></option>
            <% end %>
          </select>

          <input type="text" name="task[description]" value="<%=task.description%>">

          <input type="button" name="task[completed]" value="">

          <input type="hidden" name="day" value="<%=@day.id%>">
          <input type="hidden" name="authenticity_token", value="<%= form_authenticity_token %>">
        </form>
        <%= button_to "x", task_path(task), method: :delete %>
      </div>
      <% end %>
  </div>

</div>
