<div class="navbar" data-controller="hotdog-navigation" data-action="click->hotdog-navigation#toggleMenu">

  <div id="hotdog-menu" data-hotdog-navigation-target="threeBars">
    <div class="bar-top"></div>
    <div class="bar-long"></div>
    <div class="bar-bottom"></div>
  </div>

  <a href="/days" class="option-1 hidden" data-hotdog-navigation-target="progressLink">progress</a>
  <a class="option-2 hidden" data-hotdog-navigation-target="customizeLink">customize</a>

  <div class="circle-today">
    <div class="circle-today one" data-hotdog-navigation-target="circle1"></div>
    <div class="circle-today two" data-hotdog-navigation-target="circle2"></div>
    <div class="circle-today three" data-hotdog-navigation-target="circle3"></div>
    <div class="circle-today four" data-hotdog-navigation-target="circle4"></div>
  </div>
</div>

<div class="today-page-container">

  <div class="highlight-and-date-container">
    <div class="highlight"></div>
    <div class="day-name-and-date">
      <h2><%= Date.today() %></h2>
      <h1>today.</h1>
    </div>
  </div>

  <div class="tasks-container">
    <form action=<%="/days/#{@day.id}/tasks"%> method="post" name="task">
      <input type="text" name="task[description]" placeholder="add a new task">
      <input type="hidden" name="authenticity_token", value="<%= form_authenticity_token %>">
    </form>

    <% @day.tasks.each do |task| %>
      <div class="task">
        <form action=<%="/tasks/#{task.id}"%> method="patch">
          <select name="task[category_id]">
            <% if task.category.nil? %>
              <option> </option>
            <% else %>
              <option value="<%= task.category.id %>"><%= task.category.name.first %></option>
            <% end %>
            <% @categories.each do |category| %>
              <option value="<%= category.id %>"><%= category.name.first %></option>
            <% end %>
          </select>

          <input type="text" name="task[description]" value="<%=task.description%>">

          <input type="button" name="task[completed]" value="">

          <input type="hidden" name="day" value="<%=@day.id%>">
          <input type="hidden" name="authenticity_token", value="<%= form_authenticity_token %>">
        </form>
        <%= button_to "x", task_path(task), method: :delete %>
      </div>
      <% end %>
  </div>

</div>
