<div class="navbar" data-controller="hotdog-navigation" data-action="click->hotdog-navigation#toggleMenu">

  <div id="hotdog-menu" data-hotdog-navigation-target="threeBars">
    <div class="bar-top"></div>
    <div class="bar-long"></div>
    <div class="bar-bottom"></div>
  </div>

  <a href="/days" class="option-1 hidden" data-hotdog-navigation-target="progressLink">today</a>
  <a class="option-2 hidden" data-hotdog-navigation-target="customizeLink">customize</a>

  <div class="circle-today">
    <div class="circle-today one" data-hotdog-navigation-target="circle1"></div>
    <div class="circle-today two" data-hotdog-navigation-target="circle2"></div>
    <div class="circle-today three" data-hotdog-navigation-target="circle3"></div>
    <div class="circle-today four" data-hotdog-navigation-target="circle4"></div>
  </div>

</div>

<div class="today-page-container">

  <div class="highlight-and-date-container">
    <div></div>

    <div class="highlight" style="<%= %Q(background-image: url(#{cl_image_path @day.highlight.key}); border: none;) if @day.highlight.present?%>"
         data-controller="highlight">
      <p>click here to add a highlight for today!</p>
      <form enctype="multipart/form-data" action=<%="/days/#{@day.id}"%> method="post" data-highlight-target="highlightForm">
        <input type="file" name="day[highlight]" id="highlightUpload" data-action="change->highlight#uploadHighlight">
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="authenticity_token", value="<%= form_authenticity_token %>">
      </form>
    </div>

    <div class="day-name-and-date">
      <h2><%= Date.parse(@day.created_at.to_s) %></h2>
      <form action=<%="/days/#{@day.id}"%> method="patch">
        <input type="text" name="day[name]" value=<%= @day.name.nil? ? "today." : @day.name %>>
        <input type="hidden" name="authenticity_token", value="<%= form_authenticity_token %>">
      </form>
    </div>
  </div>

  <div class="tasks-and-new-container"
       data-controller="task-create"
       data-task-create-day-id-value=<%=@day.id%>>
    <div class="new-task-container">
      <form data-action="submit->task-create#createTask">
        <input type="text" placeholder="type here to add a new task" class="new-task-input" data-task-create-target="inputField">
      </form>
    </div>

    <div class="tasks-container" data-task-create-target="tasksContainer">
      <% @day.tasks.reverse_each do |task| %>
        <%= render partial: "task", locals: { task: task, categories: @categories, day: @day} %>
      <% end %>
    </div>
  </div>
</div>
