<div class="navbar" data-controller="hotdog-navigation" data-action="click->hotdog-navigation#toggleMenu">

  <div id="hotdog-menu" data-hotdog-navigation-target="threeBars">
    <div class="bar-top"></div>
    <div class="bar-long"></div>
    <div class="bar-bottom"></div>
  </div>

  <a href="/days" class="option-1 hidden" data-hotdog-navigation-target="progressLink">today</a>
  <a class="option-2 hidden" data-hotdog-navigation-target="customizeLink">customize</a>

  <div class="circle-today">
    <div class="circle-today one" data-hotdog-navigation-target="circle1"></div>
    <div class="circle-today two" data-hotdog-navigation-target="circle2"></div>
    <div class="circle-today three" data-hotdog-navigation-target="circle3"></div>
    <div class="circle-today four" data-hotdog-navigation-target="circle4"></div>
  </div>

</div>

<div class="today-page-container">

  <div class="highlight-and-date-container">
    <div class="highlight">select a highlight for today</div>
    <div class="day-name-and-date">
      <h2><%= Date.parse(@day.created_at.to_s) %></h2>
      <h1>today.</h1>
    </div>
  </div>

  <div class="tasks-container">
    <form action=<%="/days/#{@day.id}/tasks"%> method="post" name="task">
      <input type="text" name="task[description]" placeholder="type here to add a new task" class="new-task-input">
      <input type="hidden" name="authenticity_token", value="<%= form_authenticity_token %>">
    </form>

    <% @day.tasks.each do |task| %>
      <div class="task" data-controller="task-update">
        <div class="categories hidden" data-task-update-target="categoriesPopup">
          <% @categories.each do |category| %>
            <form action=<%="/tasks/#{task.id}"%> method="patch">
              <button type="submit" class="category-btn" name=task[category_id] value=<%= category.id %>><%= category.name %></button>
              <input type="hidden" name="authenticity_token", value="<%= form_authenticity_token %>">
            </form>
          <% end %>
          <form action=<%="/tasks/#{task.id}"%> method="patch">
            <button type="submit" class="category-btn" name=task[category_id] value=<%= nil %>>(No Category)</button>
            <input type="hidden" name="authenticity_token", value="<%= form_authenticity_token %>">
          </form>
          <form action="/categories" method="post">
            <input type="text" placeholder="+ new category" name="category[name]">
            <input type="hidden" name="day" value="<%=@day.id%>">
            <input type="hidden" name="authenticity_token", value="<%= form_authenticity_token %>">
          </form>
        </div>

        <form action=<%="/tasks/#{task.id}"%> method="patch">
          <div class="category" data-action="click->task-update#toggleCategoriesPopup"><%= task.category.name.first unless task.category.nil? %></div>

          <input type="text" name="task[description]" value="<%=task.description%>">

          <button type="submit" name="task[completed]" class="checkmark <%= 'done' if task.completed? %>" value=<%= !task.completed? %>></button>

          <input type="hidden" name="authenticity_token", value="<%= form_authenticity_token %>">
        </form>
        <%= button_to "x", task_path(task), method: :delete, class: "delete-btn" %>
      </div>
      <% end %>
  </div>

</div>
