<div>
  <h1>Today</h1>
  <p>-date-</p>
</div>

<div class="container-center-dark">
<h3>Lists of Tasks</h3>
  <ul>
    <%@day.tasks.each do |task|  %>
      <li><%= task.description %>
    <%= button_to "Delete", task_path(task), method: :delete, class: "btn btn-danger mb-2" %></li>
    <% end %>
  </ul>
</div>

<div class="container-center-dark">
  <h3 class="form-title">Add a new Task</h2>
  <%= simple_form_for [@day, @task] do |f| %>
  <div class="form-transparent">
    <%= f.input :description %>
    <%= f.button :submit, class: "form-button" %>
  </div>
  <% end %>
</div>


<div class="container-center-dark">
  <h3 class="form-title">Add a new Category</h3>
  <%= simple_form_for [@category] do |f| %>
  <div class="form-transparent">
    <%= f.input :name %>
    <%= f.input :day, :as => :hidden, :input_html => { :value =>  @day.id } %>
    <%= f.button :submit, class: "form-button" %>
  </div>
  <% end %>
</div>
