<!DOCTYPE html>
<html>

  <head>
    <% if controller_name == "days" && action_name == "show" %>
    <title>focus. today</title>
    <% elsif controller_name == "days" && action_name == "index" %>
    <title>focus. progress</title>
    <% else %>
    <title>focus.</title>
    <% end %>

    <meta name="description" content="a simple & fun task manager to customise">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
     <%= favicon_link_tag "favicon 128 x 128.png", rel: "icon", type: "image/png" %>
  </head>

  <body>
    <%= render "shared/flashes" %>
    <%= yield %>
  </body>

</html>
